---
pagination:
    data: campaigns
    size: 1
    alias: campaign

permalink: ./{{ campaign.slug }}/index.html
layout: layout.njk
eleventyComputed:
    title: "{{ campaign.article.content.headline }} - ebcontent"

---
{% set article = campaign.article %}
{% include "articleContent.njk" %}
<script>
    var campaignId = "{{ campaign._id | e }}";
    var articleId = "{{ article._id | e }}";
    var pageTitle = "Active / {{ campaign.name | e }} / v{{ article.versionNumber | e}}"
    var pageProps = {
        page_title: pageTitle,
        contimo_campaign_id: campaignId,
        contimo_article_id: articleId,
        contimo_preview: false
    };
</script>