---
data: article
layout: layout.njk
permalink:
  preview: /preview/:id
eleventyComputed:
    title: "Preview - {{ article.campaign.name }} - [{{ article.versionNumber }}]"

---
{%- set campaign = article.campaign %}

{% include "articleContent.njk" %}
<script>
  var campaignId = "{{ campaign._id | e }}";
  var articleId = "{{ article._id | e }}";
  var pageTitle = "Preview / {{ campaign.name | e }} / v{{ article.versionNumber | e}}"

  var pageProps = {
    page_title: pageTitle,
    contimo_campaign_id: campaignId,
    contimo_article_id: articleId,
    contimo_preview: true
  };

  var communicateNewHeight = function () {
    const message = {
      type: "setHeight",
      height: document.body.scrollHeight
    };

    window
      .top
      .postMessage(message, "*");
  };

  window.addEventListener('resize', communicateNewHeight);
  window.addEventListener('load', communicateNewHeight);

  communicateNewHeight();
</script>