---
data: article
layout: layout.njk
permalink:
  preview: /preview/:id
eleventyComputed:
    title: "Preview [{{ article.versionNumber }}] - {{ article.campaign.name }} - ebcontent"

---
{%- set campaign = article.campaign %}
{% include "articleContent.njk" %}
<script>
  const communicateNewHeight = function () {
    const message = {
      type: "setHeight",
      height: document.body.scrollHeight
    };

    window
      .top
      .postMessage(message, "*");
  };

  window.addEventListener('resize', communicateNewHeight);
  window.addEventListener('load', communicateNewHeight);

  communicateNewHeight();
</script>